
<h1>Add Item</h1>

<form id="new_item" action="/items" method="post" accept-charset="utf-8">

<label for "item[type]">Item Type</label><br>
<select name="item[type]" form="new_item">
  <option value="Bed">Bed</option>
  <option value="Bedroom Set">Bedroom Set</option>
  <option value="Bookshelf">Bookshelf</option>
  <option value="Chair">Chair</option>
  <option value="Desk">Desk</option>
</select>

<br><br>
Items we don't accept:<br>
Blah and foo<br>
<br><br>

<label for "item[brand]">Brand</label><br>
<input type="text" name="item[brand]" value="New Brand">
<br><br>

<label for "item[notes]">Notes:</label><br>
<textarea name="item[notes]" placeholder="To sell for the highest price, tell a story about what you like best about this item. What's cool or unique about it?"
value="notes"
rows="4" cols="50" ></textarea>
<br><br>

<label for "item[original_price]">Original Price</label><br>
<input type ="integer" name="item[original_price]" label="Original Price" value="100">

<br>
<label for "item[asking_price]">Asking Price</label><br>
<input type ="integer" name="item[asking_price]" value="80">

<br>
<label for "item[lowest_price]">Lowest Price You'll Accept</label><br>
<input type ="integer" name="item[lowest_price]" value="60">
<br><br>

<div id="Filepicker">

<input type="filepicker"
data-fp-apikey="ALeZw9de5TTGfo53U9bfRz"
data-fp-mimetypes="image/*"
data-fp-container="modal"
data-fp-multiple="true"
data-fp-button-text="Attach Images"
data-fp-services="COMPUTER"
data-fp-maxSize="10485760"
onchange="alert("File has been uploaded")"
style="display: none;"
>
</div>

<input type="hidden" name="item[picture1_url]" value="<%= event.fpfile.url %>">
<br><br>

<input type="submit">

</form>

<script type="text/javascript" src="http://api.filepicker.io/v1/filepicker.js"></script>


