<!--=== Content Part ===-->
    <div class="container content">
    	<div class="row">
            <div class="col-md-9">
    			<!-- Seller Questions -->
                <div class="headline"><h2>Seller Questions</h2></div>
                <div class="panel-group acc-v1 margin-bottom-40" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">1. How do I get paid?</a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in">
                            <div class="panel-body">
                            <p>Enter your debit card information, and we'll send you a payment directly to your debit card.
                            </p>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                2. What are CouchRocket's fees?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>20% of the purchase price</p>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                3. What happens when someone orders my furniture?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse">
                            <div class="panel-body">
                                <ul class="list-unstyled">
                                    <li><i class="fa fa-check color-green"></i> We'll email you to let you know when we'll come by to pick up the furniture.</li>
                                    <li><i class="fa fa-check color-green"></i> We deliver the furniture to the buyer.</li>
                                    <li><i class="fa fa-check color-green"></i> Once the buyer approves, we charge him and automatically send payment to you.</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                                4. What if the buyer doesn't approve the item?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse">
                            <div class="panel-body">
                            <p>We'll email you that it wasn't approved, and bring it back to you immediately.</p>
                            </div>
                        </div>
                    </div>





                </div><!--/acc-v1-->
                <!-- End Seller Questions -->

    			<!-- Buyer Questions -->
                <div class="headline"><h2>Buyer Questions</h2></div>
                <div class="panel-group acc-v1" id="accordion-1">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-One">
                                 1.  What happens when I order a furniture item?
                                </a>
                            </h4>
                        </div>
                        <div id="collapse-One" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <ul class="list-unstyled">
                                    <li><i class="fa fa-check color-green"></i> We pre-authorize your credit card, but we don't charge you.</li>
                                    <li><i class="fa fa-check color-green"></i> We pick up the item and deliver it to you at a time of your choosing.</li>
                                    <li><i class="fa fa-check color-green"></i> When you get the item, we'll bring it out for you to inspect. If you like it, great. If not, we'll take it back, and you'll only be charged the initial delivery fee.</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div><!--/acc-v1-->
                <!-- End Other Questions -->
    		</div><!--/col-md-9-->

    		<div class="col-md-3">

            	<!-- Info Block -->
                <div class="headline"><h2>More Questions?</h2></div>
                <p>Contact us at <a href='mailto:help@couchrocket.com'>CouchRocket Support</a></p>

                <!-- End Info Block -->


            </div><!--/col-md-3-->
        </div><!--/row-->
    </div><!--/container-->
    <!--=== End Content Part ===-->

<!-- JS Global Compulsory -->
<script type="text/javascript" src="/assets/plugins/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/assets/plugins/jquery/jquery-migrate.min.js"></script>
<script type="text/javascript" src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<!-- JS Implementing Plugins -->
<script type="text/javascript" src="/assets/plugins/back-to-top.js"></script>
<!-- JS Customization -->
<script type="text/javascript" src="/assets/js/custom.js"></script>
<!-- JS Page Level -->
<script type="text/javascript" src="/assets/js/app.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function() {
        App.init();
    });
</script>
<!--[if lt IE 9]>
    <script src="/assets/plugins/respond.js"></script>
    <script src="/assets/plugins/html5shiv.js"></script>
    <script src="/assets/js/plugins/placeholder-IE-fixes.js"></script>
<![endif]-->


