<h3>Seller FAQ</h3>
<ul>
<li><h4>How do I get paid?</h4>
Enter your debit card information, and we'll send you a payment directly to your debit card.
</li><br>

<li><h4>What are CouchRocket's fees?</h4>
20% of the purchase price
</li><br>

<li><h4>What happens when someone orders my furniture?</h4>
We'll email you to let you know when we'll come by to pick up the furniture.<br>We deliver the furniture to the buyer.<br>Once the buyer approves, we charge him and automatically send payment to you.
</li><br>
<li><h4>What if the buyer doesn't approve the item?</h4>
We'll email you that it wasn't approved, and bring it back to you immediately.
</li><br>
</ul>

<h3>Buyer FAQ</h3>
<ul>
<li><h4>What happens when I order a furniture item?</h4>
We pre-authorize your credit card, but we don't charge you.<br>
We pick up the item and deliver it to you at a time of your choosing.<br>
When you get the item, we'll bring it out for you to inspect.<br>
If you like it, great. If not, we'll take it back, and you'll only be charged the initial delivery fee.
</li>
</ul>
<p>
More questions?  Contact us at <a href='mailto:help@couchrocket.com'>CouchRocket Support</a> </p>
