<h2>Reset Password</h2>

<p>Enter your email, and we'll send you a new password:</p>

<% if user.errors.any? %>
		<div class="form-errors">
			<ul class="error-messages">
				<% user.errors.full_messages.each do |error_msg| %>
					<li><%= error_msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

<form id="reset-password-form" method="POST" action="/password/reset">
	<div class="form-row">
		<label for="user-email">Email:</label>
		<input id="user-email" type="text" name="email" placeholder="you@example.com" value="<%= user.email %>">
	</div>
	<button type="submit">Reset Password</button>
</form>