<!DOCTYPE html>
<head>
  <title>CouchRocket</title>
</head>

<body>

<%= yield %>

<!-- Load jQuery version 1.11.1 (uncompressed) -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.1.js"></script>

</body>
<html>