<!DOCTYPE html>
<html lang="en">
	<head>
		 <meta charset="utf-8">
		 <title>CouchRocket</title>

	<!-- Load jQuery version 1.11.1 (uncompressed) -->
	  <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.1.js"></script>

	</head>
	<body>
		<div id="page">
			<header id="site-header">
				<a href="/">
				<img src="http://i.imgur.com/iI7g2uKs.jpg" border="0" title="CouchRocket"><br>
				<h3>CouchRocket</h3>
				</a>
					<nav>
						<div class="nav-links">
						<% if user_signed_in? %>
						Welcome
						<a href="/users/<%= current_user.id %>">
						<span class="user-name"><b><%= current_user.name %></b></span>
						</a><br>
						<a href="/sessions/sign_out">Sign Out</a><br>
						<% end %>
						</div>
					</nav>
			</header>
			<div id="main-content">
				<%= yield %>
			</div>
		</div>
	</body>
</html>
